* {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  padding-top: 40px;
  z-index: 99;
  width: 100%;

  .header-div {
    .header-navigation {
      .header-navigation-menu-1 {
        list-style-type: none;

        > li {
          display: inline-block;

          > a {
            text-decoration: none;
            color: #fff;
            display: block;

            &:hover {
              color: red;
              border-bottom: 1px solid red;
            }
          }
        }
      }
    }
  }
}

.section {
  .section-carousel {
    .list {
      .section-carousel-list {
        .section-carousel-list-item {
          .section-carousel-list-item-12 {
            position: relative;
            .section-carousel-list-item-1 {
              position: absolute;
            }
          }
        }
      }
    }
  }

  .section-site {
    .section-site-item {
      .section-site-item-row {
        .section-site-item-row-1 {
          .section-site-item-row-1-1 {
            &:hover {
              border-bottom: 8px solid rgb(252, 95, 0);
            }
          }
        }
      }
    }
  }

  .site-section-background {
    background-color: black;
  }

  .site-section-col-4 {
    .site-section-col-4-container {
      .site-section-col-4-container-row {
        .section-site-item-row-1 {
          .section-site-item-row-1-1 {
            &:hover {
              border-bottom: 8px solid rgb(252, 95, 0);
            }
          }
        }
      }
    }
  }

  .section-tab {
    .section-tab-container {
      .section-tab-item {
        .section-tab-item-ul {
          text-decoration: none;
          .section-tab-item-ul-li {
            margin-right: 20px;
            .section-tab-item-ul-li-a {
              color: white;
              background-color: black;
              text-transform: uppercase;
              &:hover {
                background-color: black;
                color: red;
                border-bottom: 2px solid red;
              }
            }
          }
        }
      }
      .section-tab-table{
        .section-tab-table-item{
          .section-tab-table-item-table{
            display: table;
            .section-tab-table-item-table-tr{
              >th{
                font-size: 16px;
                color: white;
                font-weight: 500;
                text-transform: uppercase;
                padding: 25px 5px;
              }
            }
          }
        }
      }
    }
  }
  .price-section{
    .price-section-container{
      .price-section-container-row{
        .toggle{
          /* The switch - the box around the slider */
          .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
          }

          /* Hide default HTML checkbox */
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          /* The slider */
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.3);
            -webkit-transition: .4s;
            transition: .4s;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }

          input:checked + .slider {
            background-color: rgba(255, 255, 255, 0.3);
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }

          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
          > ul{
            > li{
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .video-section .video-text .play-btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 22px;
    background: #ffffff;
    text-align: center;
    line-height: 62px;
    color: #e4381C;
    border-radius: 50%;
    position: relative;
    padding-left: 5px;
  }
}
