header{
.left{
  text-align: left;
}
  .right{
    text-align: right;
  }
}
section{
  text-align: center;
  .text{
    font-family: .VnArial;
    font-size: large;
  }
}
footer{
  text-align: center;
  font-family: .VnArial;
}