/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


//
//#navigation > .menu{
//  color: white;
//  border-top: 1.5px solid black;
//  border-bottom: 1.5px solid black;
//}
//#navigation > ul{
//  background-color: white;
//  list-style-type: none;
//  text-align: left;
//  margin: 0 !important;
//}
//ul > li {
//  display: inline-block;
//  width: 14%;
//}
//li > a{
//  text-decoration: none;
//  color: black;
//  display: block;
//}
//li > a:hover{
//  background: wheat;
//  color: black;
//}


//#body{
//  background: white;
//}

#navigation {
  .menu {
    color: white;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 0 20px;
    > ul {
      background-color: white;
      list-style-type: none;
      text-align: left;
      //padding: 0 0 0 30px;
      //margin-top: 10px;
      //margin-bottom: 10px;
      > li {
        display: inline-block;
        width: 14%;
        padding: 10px 0;
        position: relative;
        &:hover{
          background: wheat;
          color: black;
          .menu1{
            display: block;
            &:hover{
              background: wheat;
              color: black;
            }
          }
        }
        > a {
          text-decoration: none;
          color: black;
          display: block;
          >span{
            display: block;
          }
        }
        > ul{
          z-index: 999;
          position: absolute;
          background: wheat;
          width: 100vh;
          top: 50px;
          left: 0;
          display: none;
          > li{
            position: relative;
            > ul{
              position: absolute;
              width: 200px;
              background: aqua;
              left: 310px;
              top: 0;
              display: none;
            }
            &:hover{
              >ul{
                background: black;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

#content{
  padding: 20px 15px;
  .section1{
    .item1{
      display: flex;
      .pic2{
        position: relative;
        .pic1{
          position: absolute;
          top: 20px;
          left: 0;
          background: black;
          color: white;
        }
      }
      .block1{
        font-weight: bold;
        font-size: larger;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        margin: 5px;
      }
      .block2{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        margin: 5px 5px 0 0;
        .p1{
          border-bottom: 2px solid black;
        }
        .p2{
          border-bottom: 2px solid black;
        }
        .p4{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          }
          .box1 {
            display: block;
            height: 50px;
            background: orange;
            border: 2px solid black;
            width: 30%;
            margin: 10px;
          }
          .box2 {
            display: block;
            height: 50px;
            background: orange;
            border: 2px solid black;
            width: 30%;
            margin: 10px;
          }
        }
      }
    }
  }
  > .item2{
    display: flex;
    width: 100%;
    > .block3{
      border-top: 2px solid black;
      width: 33%;
      margin-right: 5px;
      > .p5{
        list-style-type: circle;
      }
    }
    > .block4{
      border: 2px solid black;
      width: 33%;
      text-align: center;
      vertical-align: middle;
      margin-right: 5px;
    }
    > .block5{
      background: gray;
      width: 33%;
      text-align: center;
      vertical-align: middle;
      padding: 10px;
      > .box4{
        font-weight: bold;
        font-size: larger;
      }
      > .box5{
        font-size: medium;
      }
    }
  }

#footer1{
  display: flex;
  width: 100%;
  > .end1{
    width: 33%;
    border-top: 1px solid black;
    margin: 10px;
  }
  > .end2{
    width: 33%;
    border-top: 1px solid black;
    margin: 10px;
  }
  > .end3{
    width: 33%;
    border-top: 1px solid black;
    margin: 10px;
    > li{
      display: block;
    }
  }
}
.p3{
  display: flex;
  width: 100%;
}


@media only screen and (max-width: 575.98px) {
  background: gray;
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  body{
  background: red;
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  body{
    background: yellow;

  }
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  body{
    background: darkorange;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
  body{
    background: green;
  }
}










