/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  height: 35px; }
  .header .header_box {
    display: flex;
    background: hotpink;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 5px; }
    .header .header_box .header_item1 {
      margin-right: 10px; }

.section .section_box {
  margin: 20px 0 25px 10px; }
  .section .section_box .section_title {
    float: left;
    font-size: larger;
    font-weight: bolder; }
  .section .section_box .navigation {
    float: right; }
    .section .section_box .navigation > ul {
      text-align: center; }
      .section .section_box .navigation > ul > li {
        display: inline-block;
        line-height: 40px;
        height: 40px;
        width: 96px; }
        .section .section_box .navigation > ul > li > a {
          text-decoration: none;
          text-align: center;
          color: black; }
        .section .section_box .navigation > ul > li:hover {
          height: 40px;
          background: wheat;
          color: gray; }
  .section .section_box .clear {
    clear: both; }

.section_text1_title1 {
  font-weight: bolder;
  font-size: larger; }

.section_img {
  display: flex;
  width: 100%; }
  .section_img .section_img_1 {
    margin-right: 20px;
    margin-bottom: 20px; }
    .section_img .section_img_1 > h3 {
      margin-bottom: 2.5px; }
    .section_img .section_img_1 > div {
      margin-bottom: 2.5px; }
  .section_img .section_img_2 {
    margin-right: 20px;
    margin-bottom: 20px; }
    .section_img .section_img_2 > h3 {
      margin-bottom: 2.5px; }
    .section_img .section_img_2 > div {
      margin-bottom: 2.5px; }

.footer {
  margin-bottom: 10px;
  margin-top: 10px; }
  .footer .footer_end {
    display: flex;
    background: gray;
    margin-bottom: 10px;
    margin-top: 10px; }
    .footer .footer_end .quick {
      width: 33%;
      margin-bottom: 10px;
      margin-top: 20px; }
      .footer .footer_end .quick > h4 {
        padding-bottom: 10px; }
      .footer .footer_end .quick > a {
        padding-bottom: 10px; }
    .footer .footer_end .anno {
      width: 33%;
      margin-bottom: 10px;
      margin-top: 20px; }
      .footer .footer_end .anno > h4 {
        padding-bottom: 10px; }
    .footer .footer_end .coming {
      width: 33%;
      margin-bottom: 10px;
      margin-top: 20px; }
      .footer .footer_end .coming > h4 {
        padding-bottom: 10px; }

.h4 {
  font-size: larger;
  font-weight: bolder; }

.section_text1 {
  margin-top: 10px;
  margin-bottom: 20px; }
  .section_text1 .section_text1_title1 {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px; }
