/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#navigation .menu {
  color: white;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  padding: 0 20px; }
  #navigation .menu > ul {
    background-color: white;
    list-style-type: none;
    text-align: left; }
    #navigation .menu > ul > li {
      display: inline-block;
      width: 14%;
      padding: 10px 0;
      position: relative; }
      #navigation .menu > ul > li:hover {
        background: wheat;
        color: black; }
        #navigation .menu > ul > li:hover .menu1 {
          display: block; }
          #navigation .menu > ul > li:hover .menu1:hover {
            background: wheat;
            color: black; }
      #navigation .menu > ul > li > a {
        text-decoration: none;
        color: black;
        display: block; }
        #navigation .menu > ul > li > a > span {
          display: block; }
      #navigation .menu > ul > li > ul {
        z-index: 999;
        position: absolute;
        background: wheat;
        width: 100vh;
        top: 50px;
        left: 0;
        display: none; }
        #navigation .menu > ul > li > ul > li {
          position: relative; }
          #navigation .menu > ul > li > ul > li > ul {
            position: absolute;
            width: 200px;
            background: aqua;
            left: 310px;
            top: 0;
            display: none; }
          #navigation .menu > ul > li > ul > li:hover > ul {
            background: black;
            display: block; }

#content {
  padding: 20px 15px; }
  #content .section1 .item1 {
    display: flex; }
    #content .section1 .item1 .pic2 {
      position: relative; }
      #content .section1 .item1 .pic2 .pic1 {
        position: absolute;
        top: 20px;
        left: 0;
        background: black;
        color: white; }
    #content .section1 .item1 .block1 {
      font-weight: bold;
      font-size: larger;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
      margin: 5px; }
    #content .section1 .item1 .block2 {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
      margin: 5px 5px 0 0; }
      #content .section1 .item1 .block2 .p1 {
        border-bottom: 2px solid black; }
      #content .section1 .item1 .block2 .p2 {
        border-bottom: 2px solid black; }
      #content .section1 .item1 .block2 .p4 {
        display: flex;
        flex-wrap: wrap;
        width: 100%; }
      #content .section1 .item1 .block2 .box1 {
        display: block;
        height: 50px;
        background: orange;
        border: 2px solid black;
        width: 30%;
        margin: 10px; }
      #content .section1 .item1 .block2 .box2 {
        display: block;
        height: 50px;
        background: orange;
        border: 2px solid black;
        width: 30%;
        margin: 10px; }

> .item2 {
  display: flex;
  width: 100%; }
  > .item2 > .block3 {
    border-top: 2px solid black;
    width: 33%;
    margin-right: 5px; }
    > .item2 > .block3 > .p5 {
      list-style-type: circle; }
  > .item2 > .block4 {
    border: 2px solid black;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px; }
  > .item2 > .block5 {
    background: gray;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    padding: 10px; }
    > .item2 > .block5 > .box4 {
      font-weight: bold;
      font-size: larger; }
    > .item2 > .block5 > .box5 {
      font-size: medium; }

#footer1 {
  display: flex;
  width: 100%; }
  #footer1 > .end1 {
    width: 33%;
    border-top: 1px solid black;
    margin: 10px; }
  #footer1 > .end2 {
    width: 33%;
    border-top: 1px solid black;
    margin: 10px; }
  #footer1 > .end3 {
    width: 33%;
    border-top: 1px solid black;
    margin: 10px; }
    #footer1 > .end3 > li {
      display: block; }

.p3 {
  display: flex;
  width: 100%; }

@media only screen and (max-width: 575.98px) {
  background: gray; }

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  body {
    background: red; } }

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  body {
    background: yellow; } }

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background: darkorange; } }

@media only screen and (min-width: 1200px) {
  body {
    background: green; } }
