/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//Header
//Header-Top
.header{
  .header_navigation{
    background-color: gray;
    //padding: 10px 0 10px 10px;
    > ul{
      list-style-type: none;
      text-align: right;
      > li{
        padding-right: 5px;
        display: inline-block;
      }
    }
  }
  .header_title{
    .navigation{
      .dropdown .dropbtn {
        font-size: 17px;
        border: black;
        outline: black;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        background-color: white;
        width: 200px;
        text-align: left;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        .dropdown-content a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          //border: black;
          text-align: left;
        }
      }
      .dropdown:hover .dropbtn {
        background-color: black;
        color: white;
      }

      .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    }
  }
}
.header_button{
  //width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  > input#search {
    //width: 300px;
    height: 20px;
    background: white;
    border: none;
    font-size: 10pt;
    //float: left;
    color: black;
    padding-left: 20px;
  }
  .icon{
    position: absolute;
    top: 50%;
    left: 0;
    //margin-left: 17px;
    //margin-top: 17px;
    z-index: 1;
    color: black;
  }
}
//Header-Nav
.header_title{
  margin: 15px;
  > .logo{
    float: left;
    font-weight: bolder;
    font-size: larger;
    > a{
      text-decoration-line: none;
      color: black;
    }
  }
  > .navigation{
    float: right;
    > ul{
      list-style-type: none;
      text-align: center;
      > li{
        color: black;
        display: inline-block;
        width: 100px;
        height: 40px;
        line-height: 40px;
        > a{
          text-decoration-line: none;
          color: black;
          display: block;
        }
        a:hover {
          background: wheat;
          color: black;
        }
      }
    }
  }
}
//Body
//Content
.section{
  .section_pic1{

  }
  .section_pic1_content{
    > h2{
      font-size: larger;
      font-weight: bolder;
    }
  }
  .section_pic2{
    display: flex;
  }
}
//Footer
.footer {
  margin-bottom: 10px;
  margin-top: 10px;
  .footer_end {
    display: flex;
    justify-content: space-around;
    background: gray;
    margin-bottom: 10px;
    margin-top: 10px;
    .quick {
      //width: 33%;
      margin-bottom: 10px;
      margin-top: 20px;
      > h4{
        padding-bottom: 10px;
      }
      > a{
        padding-bottom: 10px;
      }
    }
    .anno {
      //width: 33%;
      margin-bottom: 10px;
      margin-top: 20px;
      > h4{
        padding-bottom: 10px;
      }
    }
    .coming {
      //width: 33%;
      margin-bottom: 10px;
      margin-top: 20px;
      > h4{
        padding-bottom: 10px;
      }
    }
  }
}
.h4 {
  font-size: larger;
  font-weight: bolder;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 320px) {
  body{
    background-color: gray;
  //Header
    .header{
      .header_navigation{
        > ul{
          text-align: left;
        }
      }
      .header_button{
        //width: 300px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        > input#search {
          //width: 300px;
          height: 20px;
          background: white;
          border: none;
          font-size: 10pt;
          //float: left;
          color: black;
          padding-left: 17px;
          width: 182px;
        }
        .icon{
          position: absolute;
          top: 3px;
          left: 0;
          //margin-left: 17px;
          //margin-top: 17px;
          z-index: 1;
          color: black;
        }
      }
      .header_title{
        .navigation{
        }
      }
    }
  //Content
    .section_pic1{
      display: none;
    }
    .section_pic2{
      flex-wrap: wrap;
       div:nth-child(2){
        margin-left: 31px;
      }
       div:nth-child(4){
        margin-left: 31px;
      }
      .section_pic2_item{
        width: 45%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  //Footer
    .footer_end{
      flex-wrap: wrap;
      width: 100%;
      .quick {
        width: 100%;
      }
      .anno {
        width: 100%;
      }
      .coming {
        width: 100%;
      }
    }
  }
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) and (max-width: 767.98px) {
  body{
    background-color: red ;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1024px) {
  body{
    background-color: green;
  }
}

//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) and (max-width: 1199.98px) {
//  body{
//    background-color: blue;
//  }
//}


//// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {
//
//
//}
//
//@media (max-width: 575.98px) {
//  body{
//    background-color: darkblue ;
//  }
//}
