/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header{
  height: 35px;
  .header_box {
    display: flex;
    background: hotpink;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 5px;
    .header_item1{
      margin-right: 10px;
    }
  }
}
.section{
  .section_box{
    margin: 20px 0 25px 10px;
    .section_title{
      float: left;
      font-size: larger;
      font-weight: bolder;
    }
    .navigation{
      float: right;
        > ul{
          text-align: center;
          > li{
            display: inline-block;
            line-height: 40px;
            height: 40px;
            width: 96px;
            //margin-left: 10px;
            > a{
              text-decoration: none;
              text-align: center;
              color: black;
            }
            &:hover{
              height: 40px;
              background: wheat;
              color: gray;
          }
        }
      }
    }
    .clear{
      clear: both;
    }
  }
}

.section_text1_title1{
  font-weight: bolder;
  font-size: larger;
}
.section_img {
  display: flex;
  width: 100%;

  .section_img_1 {
    margin-right: 20px;
    margin-bottom: 20px;

    > h3 {
      margin-bottom: 2.5px;
    }

    > div {
      margin-bottom: 2.5px;
    }
  }

  .section_img_2 {
    margin-right: 20px;
    margin-bottom: 20px;

    > h3 {
      margin-bottom: 2.5px;
    }

    > div {
      margin-bottom: 2.5px;
    }
  }
}
  .footer {
    margin-bottom: 10px;
    margin-top: 10px;
    .footer_end {
      display: flex;
      background: gray;
      margin-bottom: 10px;
      margin-top: 10px;
      .quick {
        width: 33%;
        margin-bottom: 10px;
        margin-top: 20px;
        > h4{
          padding-bottom: 10px;
        }
        > a{
          padding-bottom: 10px;
        }
      }

      .anno {
        width: 33%;
        margin-bottom: 10px;
        margin-top: 20px;
        > h4{
          padding-bottom: 10px;
        }
      }

      .coming {
        width: 33%;
        margin-bottom: 10px;
        margin-top: 20px;
        > h4{
          padding-bottom: 10px;
        }
      }
    }
  }

  .h4 {
    font-size: larger;
    font-weight: bolder;
  }

.section_text1 {
    margin-top: 10px;
    margin-bottom: 20px;
  .section_text1_title1 {
      font-size: larger;
      font-weight: bolder;
      margin-bottom: 10px;
    }
}