#navigation ul {
  background-color: whitesmoke;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0; }

#navigation li {
  color: whitesmoke;
  display: inline-block;
  width: 13%; }

#navigation a {
  text-decoration: none;
  color: black;
  display: block;
  text-align: left; }

#navigation a:hover {
  background-color: wheat;
  color: black; }

#navigation .a-class {
  font-family: "Times New Roman";
  font-size: 18px;
  font-weight: bold;
  display: block; }

#navigation .b-class {
  font-size: 14px;
  display: block; }

#navigation {
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

.container-footer {
  display: flex; }

.item-footer {
  width: 33%;
  display: inline-block; }

.navigation1 ul {
  display: flex;
  list-style-type: none; }

.section-1 {
  display: flex; }

.section-2 {
  display: flex; }

.a-section {
  width: 50%;
  display: inline-block; }

.b-section {
  width: 50%;
  position: relative; }

.c-section {
  border-top: 2px solid black;
  border-bottom: 2px solid black; }

.d-section {
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  left: 0; }

.footer2 {
  font-size: small; }

.section-3 {
  display: flex; }

.a1-section {
  border-top: 1.5px solid black; }

.a3-section {
  border: 2px solid gray;
  background-color: white;
  color: black;
  display: inline-block;
  text-align: center;
  width: 33%; }

.a2-section {
  text-decoration-line: underline;
  width: 33%;
  list-style-type: disc; }

.a4-section {
  background-color: gray;
  color: black;
  padding: 15px;
  width: 33%;
  text-align: center; }

.a5-section {
  text-align: center;
  font-size: larger;
  font-weight: bold; }

img {
  width: 100%; }

.container-item {
  display: flex; }
  .container-item .item {
    flex: 1 0 33%;
    /* explanation below */
    margin: 5px;
    height: 100px;
    background: #cccccc; }
    .container-item .item:hover {
      background: #b3d4fc; }
